@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

html {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
}


/* Sección Header */

div#header {
    border-bottom: 1px solid gray;
    display: flex;
    padding: 20px 100px;
    justify-content: space-between;
    background-color: white;
}

div#header-right {
    display: flex;
    align-items: center;
}

div#header-right p {
    margin-right: 40px;
}

div#header-right p:hover {
    color: #6b53f0;
    cursor: pointer;
}

button.redondo {
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    padding: 0px 20px;
    height: 32px;
}


/* Sección Introducción */

div#introduction {
    padding: 80px;
    background-color: white;
}

div#introduction-text h1 {
    margin: 0px 400px;
    text-align: center;
}

div#introduction-actions {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

button.sumate {
    margin-left: 14px;
    border-color: #6b53f0;
    color: #6b53f0;
}

button.sumate:hover {
    background-color: #6b53f0;
    color: white;
    cursor: pointer;
}

button.redondo:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}


/* Sección Impacto */

#impacto {
    background-color: #201b24;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 100px 30px;
}

#impacto-titulo {
    width: 30%;
    margin-left: 300px;
}

#impacto-datos {
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 300px;
}

.dato {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0;
}

.dato span {
    font-size: 30px;
    font-weight: 400;
    color: #6b53f0;
}

.bajada {
    font-size: 14px;
    color: #8c939c;
    margin-top: 0;
}


/* Sección Foto */

#foto {
    background-image: url('./img/foto-home.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}


/* Sección Actividades */

#actividad {
    padding: 70px 300px;
}

.estructura {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.estructura p {
    font-size: 15px;
    text-align: justify;
}

.estructura h1 {
    text-align: left;
    padding-bottom: 20px;
}

.actividad-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 50px;
}

.act-img-left {
    width: 50%;
}

.act-img-left img {
    border-radius: 0px 40px 40px 40px;
}

.act-info-left {
    width: 50%;
}

.act-info-left img {
    height: 50px;
}

.actividad-right {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}

.act-img-right {
    display: flex;
    justify-content: right;
    width: 50%;
}

.act-img-right img {
    border-radius: 40px 40px 0px 40px;
}

.act-info-right {
    width: 50%;
}


/* Sección Equipo */
#equipo {
    background-color: #f4f4f5;
    padding: 70px 300px;
}

#equipo h1 {
    text-align: left;
}

#cards-galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#card-equipo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: white;
    width: 90%;
    border-radius: 20px 20px 20px 0px;
    margin: 20px 0;
}

#card-equipo img {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

#card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}

#card-info h3 {
    margin-bottom: 0;
}

#card-info p {
    margin-top: 0;
    color: #8c939c;
}

#card-info button {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 2px solid #201b24;
    border-radius: 50%;
}

#card-info button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

/*filter: grayscale(100%);
    opacity: 0.5;*/