@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

html {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
}


/* Sección Header */

div#header {
    border-bottom: 1px solid gray;
    display: flex;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

div#header-right {
    display: flex;
    align-items: center;
}

div#header-right p {
    margin-right: 40px;
}

div#header-right p:hover {
    color: #6b53f0;
    cursor: pointer;
}

button.redondo {
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    padding: 0px 20px;
    height: 32px;
}

#redes {
    padding: 40px 0px 15px 20px;
}

#redes .btn-social {
    width: 40px;
    height: 40px;
    margin: 0;
}

#redes .btn-social:hover {
    color: #6b53f0;
    cursor: pointer;
}


/* Sección Introducción */

div#introduction {
    padding: 80px;
    background-color: white;
}

div#introduction-text h1 {
    margin: 0px 400px;
    text-align: center;
}

div#introduction-actions {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

button.sumate {
    margin-left: 14px;
    border-color: #6b53f0;
    color: #6b53f0;
}

button.sumate:hover {
    background-color: #6b53f0;
    color: white;
    cursor: pointer;
}

button.btnblack:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}


/* Sección Impacto */

#impacto {
    background-color: #201b24;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 100px 30px;
}

#impacto-titulo {
    width: 30%;
    margin-left: 300px;
}

#impacto-datos {
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 300px;
}

.dato {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0;
}

.dato span {
    font-size: 30px;
    font-weight: 400;
    color: #6b53f0;
}

.bajada {
    font-size: 14px;
    color: #8c939c;
    margin-top: 0;
}


/* Sección Foto */

#foto {
    background-image: url('./img/foto-home.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}


/* Sección Actividades */

#actividad {
    padding: 70px 300px;
}

.estructura {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.estructura p {
    font-size: 15px;
    text-align: justify;
}

.estructura h1 {
    text-align: left;
    padding-bottom: 20px;
}

.actividad-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 50px;
}

.act-img-left {
    width: 50%;
}

.act-img-left img {
    border-radius: 0px 40px 40px 40px;
}

.act-img-right img {
    border-radius: 40px 40px 0px 40px;
}

.act-info-left {
    width: 50%;
}

.act-info-left img {
    height: 50px;
}

.actividad-right {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}

.act-img-right {
    display: flex;
    justify-content: right;
    width: 50%;
}

.act-info-right {
    width: 50%;
}


/* Sección Equipo */
#equipo {
    background-color: #f4f4f5;
    padding: 70px 300px;
}

#equipo h1 {
    text-align: left;
}

#cards-galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#card-equipo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: white;
    width: 90%;
    border-radius: 20px 20px 20px 0px;
    margin: 20px 0;
}

#card-equipo img {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

#card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}

#card-info h3 {
    margin-bottom: 0;
}

#card-info p {
    margin-top: 0;
    color: #8c939c;
}

#card-info button {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 2px solid #201b24;
    border-radius: 50%;
}

#card-info button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}


/* Sección Alianzas */
#alianzas {
    padding: 50px 300px;
    margin-bottom: 20px;
}

#alianzas h1 {
    text-align: left;
}

#slider-alianzas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}


#slider-alianzas img {
    filter: grayscale(100%);
    opacity: 0.5;
    height: 60%;
}

#slider-alianzas img:hover {
    filter: none;
    opacity: 1;
}


/* Sección Footer */
#footer {
    padding: 50px 300px;
    background-color: #201b24;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: white;
}

#footer-texto {
    font-size: 13px;
    width: 30%;
    text-align: justify;
}

.footer-boton {
    font-size: 14px;
    font-weight: 700;
    opacity: 0.7;
}

.footer-boton:hover {
    opacity: 1;
    cursor: pointer;
}


/* Media queries*/
@media (width <= 1600px) {
    div#introduction-text h1 {
        margin: 0px 300px;
    }

    #impacto {
        padding: 80px 20px;
    }

    #impacto-titulo {
        margin-left: 200px;
    }

    #impacto-datos {
        margin-right: 200px;
    }

    #actividad {
        padding: 70px 200px;
    }
    
    #equipo {
        padding: 50px 200px;
    }

    #cards-galeria {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #alianzas {
        padding: 50px 200px;
        margin-bottom: 20px;
    }

    #slider-alianzas {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    #footer {
        padding: 50px 200px;
    }
}

@media (width <= 1200px) {
    div#introduction-text h1 {
        margin: 0px 150px;
    }

    #impacto {
        padding: 80px 20px;
    }

    #impacto-titulo {
        margin-left: 100px;
    }

    #impacto-datos {
        margin-right: 100px;
    }

    #actividad {
        padding: 50px 100px;
    }
    
    #equipo {
        padding: 50px 100px;
    }

    #alianzas {
        padding: 50px 100px;
        margin-bottom: 20px;
    }
    
    #footer {
        padding: 50px 100px;
    }
}

@media (width <= 1000px) {
    div#header {
        padding: 20px 30px;
    }
    
    div#header-right p {
        margin-right: 15px;
    }
    
    #redes {
        padding: 30px 0px 0px 15px;
    }

    div#introduction-text h1 {
        margin: 0px 100px;
    }

    #impacto {
        padding: 80px 20px;
    }

    #impacto-titulo {
        margin-left: 80px;
    }

    #impacto-datos {
        margin-right: 80px;
    }

    #actividad {
        padding: 50px 80px;
    }

    .act-img-left img {
        border-radius: 0px 20px 20px 20px;
    }
    
    .act-img-right img {
        border-radius: 20px 20px 0px 20px;
    }
    
    #equipo {
        padding: 50px 80px;
    }
    
    #cards-galeria {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    #card-equipo {
        border-radius: 15px 15px 15px 0px;
    }
    
    #card-equipo img {
        width: 100%;
        border-radius: 15px 15px 0px 0px;
    }

    #alianzas {
        padding: 50px 80px;
    }
    
    #slider-alianzas {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 0;
    }
    
    #slider-alianzas img {
        height: 50%;
    }
    
    #footer {
        padding: 50px 80px;
    }
    
    #footer-texto {
        font-size: 14px;
        width: 25%;
        text-align: left;
    }
    
    .footer-boton {
        font-size: 15px;
    }
}


@media (width <= 850px) {
    div#header {
        padding: 15px;
        font-size: 13px;
    }
    
    div#header-right p {
        margin-right: 10px;
    }

    #redes {
        padding: 20px 0px 0px 15px;
    }

    div#introduction-text h1 {
        margin: 0px 50px;
    }

    #impacto {
        padding: 50px 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #impacto-titulo {
        width: 100%;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    #impacto-datos {
        width: 100%;
        margin-right: 0px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }

    #impacto-datos .item {
        padding: 30px;
    }

    #actividad {
        padding: 50px 50px;
    }

    #actividad h1 {
        text-align: center;
    }

    #equipo {
        padding: 50px 50px;
    }

    #equipo h1 {
        text-align: center;
    }

    #alianzas {
        padding: 50px 50px;
    }

    #alianzas h1 {
        text-align: center;
    }

    #footer {
        padding: 50px 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #footer-texto {
        width: 100%;
        font-size: 16px;
        margin: 30px;
        text-align: center;
    }
    
    .footer-boton {
        font-size: 18px;
        text-align: center;
    }
}

@media (width <= 700px) {
    div#header {
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #header img {
        height: 60px;
    }
    
    div#header-right {
        display: none;
    }

    div#introduction {
        padding: 50px;
    }

    div#introduction-text h1 {
        margin: 0px 20px;
        font-size: 40px;
    }
    
    div#introduction-actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }
    
    button.sumate {
        margin-left: 0;
        margin-top: 20px;
        font-size: 25px;
        height: 50px;
    }
    
    button.contactanos {
        margin-bottom: 20px;
        font-size: 25px;
        height: 50px;
    }

    #impacto {
        padding: 50px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #impacto-titulo {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    #impacto-titulo p {
        font-size: 20px;
    }

    .dato {
        font-size: 70px;
    }

    .bajada {
        font-size: 20px;
    }

    #impacto-datos {
        width: 100%;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #impacto-datos .item {
        padding: 0px;
    }

    #actividad {
        padding: 50px 10px;
    }

    #actividad h1, h2 {
        text-align: center;
    }
    
    .estructura p {
        font-size: 16px;
        text-align: center;
    }
    
    .actividad-left, .actividad-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 50px;
    }
    
    .act-img-left, .act-img-right {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .act-img-left img {
        border-radius: 0px 20px 20px 20px;
    }
    
    .act-img-right img {
        border-radius: 20px 20px 0px 20px;
    }
    
    .act-info-left, .act-info-right {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .act-info-left img {
        height: 50px;
        margin-top: 20px;
    }

    #equipo {
        padding: 50px 10px;
    }

    #equipo h1 {
        text-align: center;
    }

    #cards-galeria {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #card-equipo {
        width: 50%;
    }

    #alianzas {
        padding: 50px 10px;
    }

    #slider-alianzas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    #slider-alianzas img {
        height: 100px;
    }

    #footer {
        padding: 50px 10px;
    }
    
    #footer-texto {
        width: 80%;
        font-size: 20px;
        margin: 30px;
    }
    
    .footer-boton {
        font-size: 20px;
    }
}